@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.ham{
    width: 100%;
    /* background-color: #292525;   */
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 80px;
    color: azure;
}
.logo{
    margin: 0 0 0 20px;
    width: 200px
}
.logo img{
    width: 100%;
}
nav{
    margin: 0 20px ;
}
.nav-menu{
    display: flex;
    gap: 60px;
}
.nav-links{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.nav-links a:hover{
    color: #fc8067;
}

.book{
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #ffd75a;
    color: #000;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.menu{
    display: none;
    margin: 0 20px;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;;
}

/* -- */

.info{
    width: 60%;
    margin: 50px auto;
    text-align: center;
}
.info >h2{
    font-weight: 500;
    font-size: 30px;
}
.info >p{
    margin: 20px 0;
}
#cupon{
    width: 60%;
    margin: auto;
    display: flex;
    
    border-radius: 20px;
    height: 50px;
    overflow: hidden;
    justify-content: space-between;
}
#cupon input{
    width: 70%;
    border: none;
    outline: none;
    padding: 5px;
    border: 1px solid #fc8067;
    border-radius: 20px;
}
#cupon button{
    border: none;
    background-color: #ffd75a;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
}
.gift{
    margin: 15px;
    font-weight: 500;
    font-size: 20px;
}
.gift span{
    color: #fc8067;
}
/* ---- */
.main{
    width: 98%;
    display: flex;
}
.container{
    width: 60%;
    margin: 50px auto;
    flex-direction: column;
    gap: 40px;
    /* -- */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container img{
    width: 100%; 
    transition: 0.3s ease-in-out;       
}
.container >div{
    width: 100%;
    /* display: flex; */
    border-radius: 0 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s ease-in-out;
    /* -- */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container >div:hover{
    transform: translateY(-10px);
}
.container >div >div:first-child{
    border-radius: 0 30px;
    overflow: hidden;
    /* -- */
    width: 100%;
}
.container >div >div:last-child{
    width: 100%;
    text-align: center;
}
.container >div >div:last-child h2{
    margin: 10px 0;
}
.container >div >div:last-child p:nth-child(3){
    font-size: 14px;
    margin-top: 10px;
    /* -- */
    padding: 0 2.5%;
}
.container >div >div:last-child h4{
    font-size: 20px;
    color: #fc8067;
    margin: 10px 0;
}
.quan{
    font-size: 16px;
    font-weight: 600;
}
.container >div >div:last-child .btn{
    margin: 10px 10px 10px 0;
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #ffd75a;
    border-radius: 0 15px;
    cursor: pointer;
    font-size: 16px;
}
.container >div >div:last-child button{
    margin: 10px 0;
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #ffd75a;
    border-radius: 0 15px;
    cursor: pointer;
    font-size: 16px;
}
/* -- */
.side{
    width: 30%;
}


@media (max-width:780px) {
    .container{
        grid-template-columns: repeat(1,1fr);
    }
}