@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.ham{
    width: 100%;
    /* background-color: #292525;   */
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 80px;
    color: azure;
}
.logo{
    margin: 0 0 0 20px;
    width: 200px
}
.logo img{
    width: 100%;
}
nav{
    margin: 0 20px ;
}
.nav-menu{
    display: flex;
    gap: 60px;
}
.nav-links{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.nav-links a:hover{
    color: #fc8067;
}

.book{
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #ffd75a;
    color: #000;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.menu{
    display: none;
    margin: 0 20px;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;;
}

/* nav part complete */


/* info part */
.info{
    width: 60%;
    margin: 50px auto;
    text-align: center;
}
.info >h2{
    font-weight: 500;
    font-size: 30px;
}
.info >p{
    margin: 20px 0;
}
.info >div{
    margin: 30px auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid red;  */
}
.info >div >div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px;
}
.info >div >div >input{
    width: 90%;
    border: none;
    padding: 5px;
    outline: none;
}
.info >div >select{
    width: 25%;
    border-radius: 20px;
    padding: 5px;
}

/* info part end here */
/* contaniner */
.container{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container img{
    width: 100%; 
    transition: 0.3s ease-in-out;       
}
.container >div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 0 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s ease-in-out;
}
.container >div:hover{
    transform: translateY(-10px);
}
.container >div:hover img{
    transform: scale(1.1);
}
.container >div >div:first-child{
    width: 40%;
    border-radius: 0 30px;
    overflow: hidden;
}
.container >div >div:last-child{
    width: 55%;
}
.container >div >div:last-child h2{
    margin: 10px 0;
}
.container >div >div:last-child p:nth-child(3){
    padding-right: 5%;
    font-size: 14px;
    margin-top: 10px;
}
.container >div >div:last-child h4{
    font-size: 20px;
    color: #fc8067;
    margin: 10px 0;
}
.container >div >div:last-child button{
    margin: 10px 0;
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #ffd75a;
    border-radius: 0 15px;
    cursor: pointer;
    font-size: 16px;
}