@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(./images/hero-image-renew.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ham{
    width: 100%;
    /* background-color: #292525; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: azure;
}
.logo{
    margin: 0 0 0 20px;
    width: 200px
}
.logo img{
    width: 100%;
}
nav{
    margin: 0 20px ;
}
.nav-menu{
    display: flex;
    gap: 60px;
}
.nav-links{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.nav-links a:hover{
    color: #fc8067;
}

.book{
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #ffd75a;
    color: #000;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.menu{
    display: none;
    margin: 0 20px;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;;
}

/* nav part complete */

.hero_mid{
    width: 45%;
    margin: 7% auto;
    text-align: center;
}
.hero_mid h1{
    color: #fff;
    font-size: 35px;
    line-height: 50px;
}
.hero_mid p{
    color: #fff;
    margin-top: 10px;
}
.explor{
    margin: 20px auto;
    width: 150px;
    padding: 10px 0;
    cursor: pointer;
    background-color: #ffd75a;
    border-radius: 20px;
}
.explor a{
    color: #000;
    text-decoration: none;
}

/*  travel info start here  */

.info{
    width: 60%;
    margin: 50px auto;
    text-align: center;
}
.info >h2{
    font-weight: 500;
    font-size: 30px;
}
.info >p{
    margin: 20px 0;
}
.info >div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 90px auto;
}
.info >div >div{
    width: 30%;
    border-radius: 0 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
.info >div >div >i{
    padding: 10px 0;
    font-size: 25px;
    transition: 0.3s ease-in-out;
}
.info >div >div:hover >i{
    color: #fc8067;
}
.info >div >div >h3{
    margin: 10px 0;
    font-weight: 500;
}
.info >div >div >p{
    margin: 20px 0;
    padding: 0 5px;
    font-size: 14px;
}

/*  travel info End here  */

.desti{
    width: 95%;
    margin: 50px auto;
    text-align: center;
}
.desti h2{
    font-weight: 500;
    font-size: 30px;
}
.desti p{
    margin: 20px 0;
}
.caro{
    margin: 50px auto;
    margin-left: 100px; /* margin addding for shape to right*/
    display: flex;
    gap: 20px;
    /* max-width: 1200px; */
    overflow: hidden; 
    height: 380px;  
}
.card{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    border-radius: 0 30px;
    transition: 0.3s ease-in-out;
    height: 360px;
}
.card:nth-child(1){
    margin-left: 200px;
}
.card p:nth-child(3){
    font-size: 14px;
}
.card >h4{
    color: #fc8067;
}
.card >div{
    width: 200px;
    height: 200px;
    border-radius: 0 30px;
    /* border: 2px solid red; */
    overflow: hidden;
}
.card >div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s ease-in-out;
}
.card:hover >div img{
    transform: scale(1.1);
}
.card:hover{
    transform: translateY(-10px);
}

.sapcer{
    margin-top: 500px;
}
/* laptop screen */

@media (max-width:1024px){
    .nav-menu{
        gap: 30px;
    }
}

/* tablet */
@media (max-width:780px) {
    .menu{
        display: block;
    }
    .book{
        margin: 0;
    }
    .menu.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 40px;
        flex-direction: column;
        /* background-color: #292525; */
        background-color: #406165;
        /* background-color: rgba(0,0,0,0.8); */
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-links:nth-child(1){
        padding-top: 20px;
    }
    .nav-links:last-child{
        padding-bottom: 20px;
    }
    .nav-menu.active{
        left: 0;
    }
    .hero_mid h1{
        font-size: 25px;
        line-height: 30px;
    }
    .hero_mid p{
        font-size: 14px;
    }
}

/* mobile screen */
@media (max-width:425px){
    .logo{
        margin: 0 0 0 10px;
        width: 150px
    }
    .book{
        margin: 0 10px 0 0;
        padding: 5px 10px;
        font-size: 12px;
        background-color: #ffd75a;
        color: #000;
        border-radius: 20px;
        border: none;
    }
    .menu{
        margin: 0 10px 0 0;
    }
    .hero_mid h1{
        font-size: 18px;
        line-height: 30px;
    }
    .hero_mid p{
        font-size: 10px;
    }
}